body{
	background: url("../images/back.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    color: green;
}
* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
.btn {
    margin: 3px;
    background-color: black;
    border-color: green;
}
.gifDiv{
    float: left;
    margin: 3px;
}
.container {
	background-color:black;
	opacity: 0.8;
	padding: 20px;
}
.jumbotron {
    background-color: white;
    background: url("../images/background_dal.jpg");
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}
#copyright{
	font-size: 14px;
}
#footer {
	clear: both;
	margin-top: 40px;
	text-align: right;
}